{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Paper Generator</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Welcome to Question Paper Generator</h1>
            <a href="signup"<button class="get-started-btn">Get Started</button></a>
            <div class="auth-links">
                <label>Already Have an account??</label>
                <a href="login" class="signup">Login</a>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}